<ActionBar class="actionbar">
  <NavigationButton visibility="collapsed"></NavigationButton>
  <StackLayout>
    <GridLayout columns="35 * 45">
      <Image src="~/assets/images/icons/chevron-left.png" (tap)="goBack()" class="center" col="0"></Image>
      <Label [text]="temakor.title" class="actionbar-title" col="1"></Label>
    </GridLayout>
  </StackLayout>
</ActionBar>

<TabView selectedIndex="0">
  <StackLayout *tabItem="{title: 'Alapfogalmak'}">
    <Label text="Alapfogalmak" class="pt-10 h2 center"></Label>
    <ScrollView>
      <StackLayout class="tab-content">
        <Label class="definition text-block" textWrap="true">
          <FormattedString>
            <Span text="Változó: " class="bold"></Span>
            <Span text="Gyakran előfordul, hogy a nem ismert mennyiségeket betűvel jelöljük, amit "></Span>
            <Span text="változónak" class="bold"></Span>
            <Span text=" nevezünk."></Span>
          </FormattedString>
        </Label>
        <Image width="160" src="~/assets/images/temakorok/algebrai-kifejezesek/abra-1.png"></Image>
        <Label class="text-block" textWrap="true">
          <FormattedString>
            <Span text="Az ábrán a téglalap két szomszédos oldalának hosszát" class="bold"></Span>
            <Span text=" a " class="keplet"></Span>
            <Span text="és" class="bold"></Span>
            <Span text=" b " class="keplet"></Span>
            <Span text="változó jelöli, a területét pedig" class="bold"></Span>
            <Span text=" T" class="keplet"></Span>
          </FormattedString>
        </Label>
        <Image width="120" src="~/assets/images/temakorok/algebrai-kifejezesek/abra-2.png"></Image>
        <Label class="text-block" textWrap="true">
          <FormattedString>
            <Span text="Az ábrán látható" class="bold"></Span>
            <Span text=" 4⋅x " class="keplet"></Span>
            <Span text="szintén egy algebrai kifejezés: az" class="bold"></Span>
            <Span text=" x " class="keplet"></Span>
            <Span text="változó és a 4 szorzatát jelöli" class="bold"></Span>
          </FormattedString>
        </Label>
        <Label class="text-block" textWrap="true">
          <FormattedString>
            <Span text="Az algebrai kifejezésekben, ha ez az értelmezést nem gátolja, gyakran"></Span>
            <Span text=" elmarad a szorzás jele" class="bold"></Span>
            <Span text=", hiszen két változó, szám és változó vagy zárójel és változó között nem okoz gondot a szorzás jelének hiánya."></Span>
          </FormattedString>
        </Label>
        <Label class="text-block" textWrap="true">
          <FormattedString>
            <Span text="Például:" class="bold"></Span>
            <Span text=" a⋅b⋅c " class="keplet"></Span>
            <Span text="felírható"></Span>
            <Span text=" abc " class="keplet"></Span>
            <Span text="alakban,"></Span>
            <Span text=" 7⋅n " class="keplet"></Span>
            <Span text="felírható"></Span>
            <Span text=" 7n " class="keplet"></Span>
            <Span text="alakban, "></Span>
            <Span text="vagy"></Span>
            <Span text=" x⋅(y+z) " class="keplet"></Span>
            <Span text="felírható"></Span>
            <Span text=" x(y+z) " class="keplet"></Span>
            <Span text="alakban, mert tudható, hogy a változót a mellé írt változóval, számmal vagy zárójellel a szorzás művelete kapcsolja össze."></Span>
          </FormattedString>
        </Label>
        <Label text="a⋅b⋅c ⟶ abc" class="keplet color-highlight-1 center" textWrap="true"></Label>
        <Label text="7⋅n ⟶ 7n" class="keplet color-highlight-2 center" textWrap="true"></Label>
        <Label text="x⋅(y+z) ⟶ x(y+z)" class="keplet color-highlight-3 center" textWrap="true"></Label>
        <Label class="text-block" textWrap="true">
          <FormattedString>
            <Span text="Továbbra sem hagyható el azonban a szorzás jele két szám között!"></Span>
            <Span text="Ezt megengedve ugyanis nem lehetne tudni, hogy például a"></Span>
            <Span text=" 42 " class="keplet"></Span>
            <Span text="egy kétjegyű számot jelöl, vagy éppen"></Span>
            <Span text=" 4⋅2 " class="keplet"></Span>
            <Span text="-t"></Span>
          </FormattedString>
        </Label>
        <Label text="Alapvető, hogy a matematikai kifejezéseket mindenki ugyanúgy értelmezze, a szorzás jelét ezért két szám közé mindig ki kell írni, mert a hiánya zavart okozna."
          textWrap="true"></Label>
      </StackLayout>
    </ScrollView>
  </StackLayout>
  <StackLayout *tabItem="{title: 'Feladatok'}">
    <Label text="Feladatok" class="pt-10 h2 center"></Label>
    <ScrollView>
      <StackLayout class="tab-content">
        <Label text="Kirándulás:" class="h3"></Label>
        <Label class="text" textWrap="true" text="Egy vállalat rendezvényszervező céget kért fel egy kirándulás megszervezésére, ám azt még nem tudták velük közölni, hogy pontosan hányan fognak a kiránduláson részt venni."></Label>
        <Label class="text" textWrap="true" text="A kirándulás teljes költsége az utazásból, a szállásból és az étkezésből áll."></Label>
        <Label class="text" textWrap="true" text="Egy busz fogja az összes kirándulót szállítani, amelynek bérleti díja 50 000 Ft. Egy személy szállásának a költsége 4000Ft, az étkezés ára azonban még nem ismert."></Label>
        <Label class="text" textWrap="true" text="Alkoss képletet a kirándulás teljes költségére!"></Label>
        <Image width="200" src="~/assets/images/temakorok/algebrai-kifejezesek/kirandulas-1.png" class="center"></Image>
      </StackLayout>
    </ScrollView>
  </StackLayout>
</TabView>